//header
.navbar {
  margin-bottom: 0;
}

nav {
  .fa {
    font-size: 1.25em;
  }
  //overide collaspe bar
  ul {
    float: right;
    li {
      display: inline-block !important;
    }
  }
  a {
    font-weight: bold;
  }
}