.row.project-show
  -# .text-center
  -#   .jumbotron.alert-info{:style => "background-image: url(/images/todo.png);"}
  .text-center  
    %h1 MyFlix
    %p.small A video subscription services.
  .cover
    %img.img-fluid(src="/images/sample.png")
  %section.description.container
    %hr
    .col-md-8
      %p
        With the growing of modern broadcasting technology.  
        Users tend to have more choices to access into video meterials. 
        MyFlix is an application that solely permitting the admin team to have full control of their meterials, 
        while subscriber need to make monthly payment to access the content. 
        Suitable for entertainment industry and online classes.  
      %ul.tags
        %li.tag 
          %span Ruby On Rails
        %li.tag  
          %span Database Design       
    .col-md-4.col-sm-12.text-center
      = link_to root_path, class: "text-center", target: "_blank" do
        %img.logo(src="/images/myflix_logo.png")
        .link
          %p view live version
          %svg{:height => "16", :viewbox => "0 0 16 16", :width => "16"}
            %path.arrow{:d => "M11.83 9.828c.29.293.53.193.53-.22V4.392c0-.41-.338-.75-.75-.75H6.39c-.41 0-.51.24-.22.532l5.66 5.656z"}
            %path.arrow{:d => "M7.78 10.94c-.394.396-1.038.396-1.435 0L5.06 9.65c-.398-.396-.398-1.04 0-1.436l3.92-3.92c.395-.396 1.038-.396 1.437 0L11.7 5.583c.4.396.4 1.04 0 1.437l-3.92 3.92z"}
            %path{:d => "M9.078 11.18v1.47c0 .237-.19.43-.428.43H7.18l-.023.022-.023-.023H3.35c-.236 0-.428-.192-.428-.43V8.866L2.9 8.842l.022-.022V7.35c0-.236.192-.428.428-.428h1.47l1.5-1.5H3.35c-1.064 0-1.928.863-1.928 1.928v5.3c0 1.065.863 1.93 1.928 1.93h5.3c1.064 0 1.928-.864 1.928-1.93V9.68l-1.5 1.5z"}
    .col-md-6
      %ul.checked
        %h4 Features
        %li User authentication using bcrypt
        %li Payments using Stripe API
        %li Users can send emails inviting friends to join
        %li Users can add, reorder, or delete videos from their queue
        %li Users can rate and provide comments on videos
        %li Users can follow other users
        %li If a user invites a friend and that friend joins, the user will automatically follow their friend
        %li Users receive a welcome email upon registration
        %li Admins can add videos and video images (stored with S3)
    .col-md-6
      %ul.checked
        %h4 Development
        %li Comprehensive unit, model, and integration test coverage with RSpec and Capybara
        %li Sending emails with SMTP
        %li Utilizes service object for Stripe API and decorators for models
        %li Continuous development with Circle CI
        %li Agile workflow environment
        %li Uses a puma web server
        %li Utilizes sidekiq background job for email sending
        %li Uses Raven for monitoring production server errors
        %li Heroku deployment utilized staging and production servers  
  %section.test.container
    .cover
      %img.img-fluid(src="/images/sample.gif")
    .col-md-6
      %ul.checked
        %h4 Tests
        %li User authentication using bcrypt
        %li Payments using Stripe API
        %li Users can send emails inviting friends to join
        %li Users can add, reorder, or delete videos from their queue
        %li Users can rate and provide comments on videos
        %li Users can follow other users
        %li If a user invites a friend and that friend joins, the user will automatically follow their friend
        %li Users receive a welcome email upon registration
        %li Admins can add videos and video images (stored with S3)
    .col-md-6    
      %ul.checked
        %h4 Deploy
        %li User authentication using bcrypt
        %li Payments using Stripe API
        %li Users can send emails inviting friends to join
        %li Users can add, reorder, or delete videos from their queue
        %li Users can rate and provide comments on videos
        %li Users can follow other users
        %li If a user invites a friend and that friend joins, the user will automatically follow their friend
        %li Users receive a welcome email upon registration
        %li Admins can add videos and video images (stored with S3)
    .cover
      %img.img-fluid(src="/images/sample.gif")
  %section.footer.text-center.container
    %h3 MORE WORK
    %p 
      A SHOWCASE OF PROJECTS, <br>
      DESIGN AND DEVELOPMENT.
    .showcase
      .showcase-img
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/todo.png);"}
          %h1.cover-logo MyFlix
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/todo.png);"}
          %h1.cover-logo MyFlix
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.
        = link_to root_path, class: "square" do
          .img{:style => "background-image: url(/images/todo.png);"}
          %h1.cover-logo MyFlix
          .overlay
            .text
              .image-title Myflix
              %p A Video subscriber for customer.