$grey: #b3b3b3;
$border: #e7e7e7;
$red: #b00b00;

.icons i {
  font-size: 4em;
}

ul {
  padding: 0;
}

.project-show {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .description, .test {
    border-bottom: 1px solid $border;
  }
  ul {
    margin: 2em 0;
  }
  p.lead.text-center {
    padding: 1em;
  }
  .cover {
    width: 80%;
    display: block;
    padding: 1em;
    margin: 3em auto;
    img {
      width: 100%;
    }
  }
  .showcase-img {
    .square {
      padding: 1em;
      width: 30%;
      img {
        height: 170px;
      }
    }
    .overlay {
      top: 1em;
      left: 1em;
      right: 1em;
      bottom: 1em;
    }
  }
  footer {
    padding: 2em 0 5em 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100% !important;
  }
}